<% unless cart.line_items.empty? %>
<h2>你的购物车:</h2>
<table>
  <%= render(cart.line_items) %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<% unless current_page?(new_order_path) %>
  <%= button_to 'checkout', new_order_path, method: :get %>
<% end %>

<% if @order.nil? %>
<%= button_to '清空购物车', cart, method: :delete, data: {confirm: 'are u sure?'}, remote: true %>
<% end %>

<% end %>
